<%= form_for(@micropost) do |f| %>
  <!-- object: f.object passed to explicitly mention all the errors for the particular user -->
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..."  %>
  </div>
  <%= f.submit "Post", class: 'btn btn-primary' %>
<% end %>